html {
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.4;
}

h1,h2,h3,h4 {
    font-weight: bold;
}

header {
    font-size: 200%;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}