/* Requirement: Target body for inheritance (font-family and 18px size) */
body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
}

/* Requirement: Select multiple elements (header and footer) with same background */
header, footer {
    background-color: rgb(134, 237, 206);
    padding: 10px;
}

/* Requirement: Class selector for text colour */
.site-title {
    color: #2c3e50;
}

/* Requirement: ID selector with specific box-shadow */
/* 0 horizontal, 0 vertical, 2px blur, 1px spread, black colour */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Requirement: Replace bullets with squares */
.hobby-list {
    list-style-type: square;
}

/* Requirement: nth-child selector for odd items background */
.hobby-list li:nth-child(odd) {
    background-color: #e3bc8e;
    /* This is a tan color similer to the example */
}

/* Requirement: Styling the Navigation */
nav ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 15px; /* This separates the buttons */
}       

nav a {
    text-decoration: none; /* Remove underline */
    background-color: #eee;
    border: 1px solid #333;
    padding: 10px 20px;
    display: block;
}

/* Requirement: Hover/Focus state background change */
nav a:hover, nav a:focus {
    background-color: #79b217;
}