body{
    margin:0;
    font-family: Arial;
    background:#cfd8d6;
}

/* HERO SECTION */
#hero{
    height:250px;            /* controls big image size */
    overflow:hidden;
    text-align:center;
}

/* HERO IMAGE */
#hero img{
    width:100%;
    height:250px;
    object-fit:cover;
}

/* LOGO IMAGE */
header img{
    width:60px;
    height:60px;
}

/* STARFISH IMAGE IN ARTICLE */
.starfish{
    width:180px;
    height:180px;
    object-fit:cover;
    float:left;
    margin-right:15px;
}

header{
    text-align:center;
    padding:40px;
}

.logo{
    width:70px;
}

nav{
    background:white;
    text-align:center;
    padding:10px;
}

nav a{
    margin:20px;
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.container{
    display:flex;
}

.left{
    width:50%;
    padding:40px;
    background:white;
}

.right{
    width:50%;
    position:relative;
}

.bigimg{
    width:100%;
    height:100%;
    object-fit:cover;
}

.title{
    position:absolute;
    top:50%;
    left:40%;
    color:white;
    font-size:60px;
}

.smallimg{
    width:150px;
    float:left;
    margin-right:20px;
}